
.reset-container {
  background-color: #fdefe3;
}

.reset-form {
  max-width: 400px;
  margin: 60px auto;
  padding: 30px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
}

.reset-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 1.8rem;
}

.reset-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.reset-container input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: border 0.2s;
}

.reset-container input:focus {
  border-color: #ff914d; /* tom roxo do SmartStudy */
}

.reset-container button {
  padding: 12px;
  background-color: #ff914d;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.reset-container button:hover {
  background-color: #ff914d;
}

.reset-container p {
  text-align: center;
  font-size: 0.9rem;
  color: #2b2b2b;
  margin-top: 10px;
}
