.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
}

.modal-container {
  background: #fff;
  border-radius: 12px;
  padding: 24px;
  width: 90%;
  max-width: 480px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  animation: slideDown 0.3s ease;
}

.title{
  color:black;
}

.label{
  font-weight: 500;
  color:black;
}
.modal-container h2 {
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal-form input,
.modal-form textarea,
.modal-form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: inherit;
  font-size: 1rem;
  transition: border 0.2s;
}

.modal-form input:focus,
.modal-form textarea:focus,
.modal-form select:focus {
  border-color: #fbc9abff;
  outline: none;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.cancel-btn,
.save-btn {
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  transition: 0.2s;
}

.cancel-btn {
  background-color: #f5f5f5;
  border: 1px solid #aaa,
}

.cancel-btn:hover {
  background-color: #f5f5f5;
}

.save-btn {
  background-color: #fbc9abff;
  color: #ff914d;
}

.save-btn:hover {
  background-color: #fff385;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    color: black;
    padding-bottom: 8px;
    margin-bottom: 20px;
}

.closeBtn {
    background: none;
    border: none;
    cursor: pointer;
}

@keyframes slideDown {
  from {
    transform: translateY(-15px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
